#divTasks{
  padding:20px;
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height:fit-content;
  grid-template-columns:repeat(10, 1fr);
  gap:10px;
  background-color:white; 
  color:black;
  font-weight: 700;
  overflow:auto;
  position:sticky;
  top: 0;
  z-index: 2;
  width:
}

#datatable{
  margin-top:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notes{
  width: 100%;
  overflow-y: scroll;
}

.switch-invisible{
  display:none;
}

.server-message-visible{
  display: block;
  height: fit-content;
  background-color: red;
  color:white;
  width:790px;
  position: relative;
  left: -10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.server-message-hidden{
  display: none;
}

.closeNav{
    display:none;
}

.openNav{
  background-color: black;
    height:35%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.nav-item{
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:1.25rem;
    color:yellow;
    display:block;
    transition:0.3s;
    font-weight:bold;
}

.myButton {
  background-color: #97D09D; 
  border:3px solid green;
  color: black;
  font-size:1em;
  font-family:Arial, sans-serif;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:120px; 
  height:40px;
  border-radius: 30px;
  box-shadow: 4px 4px black;
  }

  .dropdown:hover > .dropdown-content{
    display:grid;
  }

  .dropdown-content{
    display:none;
  }

.myButton2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: yellow;
  font-weight:bold;
  font-size:1.25vw;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:230px; 
  height:30px; 
  transform: scale(1.05);
  border-radius:8px;
  }

.myButton2:hover{
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out; 
  background-color:black;
  color:white;
  z-index:2;
}

  #tblNavigation{
      display:flex;
      flex-direction:row;
      text-align: center; 
      display: table;
      vertical-align: middle;
      margin:0 auto;
  }

  #tblFilterTypes{
    width:50%;
    margin:0 auto;
    background-color: red;
  }

  #filter-types-nav{
    display:flex;
    justify-content:space-evenly; 
    align-items:center; 
    margin:0 auto; 
    margin-top:50px; 
    border:1px solid black; 
    width:50%;
    background-color: green;
    color:white;
    border-radius: 8px;
  }

  #filter-types-nav span:hover{
    background-color: white;
    color:green;
  }

  #filter-types-nav span{
    padding: 5px;
  }

  #tblFilters {
    width:90%;
    margin-top: 20px;
  }

  #tblEditFilter {
    width:90%;
    border:1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 20px;
  }

  #tblEditFilter th, #tblEditFilter td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
    border-bottom: none;
}

  #tblEditFilter th{
    text-align: center;
    background-color: rgb(231, 238, 253);
  }

  #tblUsers{
    width:80%;
  }

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input[type="hidden"] {
    display: none;
}

.switch {
   position: relative;
    z-index:1;
   display: inline-block;
   width: 60px;
   height: 34px;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* The slider */
 .slider {
   position: absolute;
z-index:1;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
z-index:1;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color: #07ff10;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }
 
 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
z-index: -1;
 }
 
 .slider.round:before {
   border-radius: 50%;
z-index: -1;
 }

   .UnitInfoClosed{
    background-color: green;
    color:white;
    border-radius: 8px;
    padding:4px;
    display:none;
   }

   .UnitInfoOpen{
    background-color: green;
    font-weight: 600;
    color:white;
    height:300px;
    margin-left:100px;
    display:table;
    width:400px;
    height:fit-content;
    border-radius: 8px;
    margin:30px;
   }

   #tblListEquipment thead th{
    position: sticky;
    white-space: nowrap;
    z-index: 2;
    background-color: black;
    color:white;
    text-align: center;
   }

   #tblListEquipment td, th{
    padding:0 15px 0 15px;
    text-align: center;
   }

   #tblTasks tr{
    margin:0 auto;
    font-size: 1.25em;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    padding:5px;
   }

   #menu {
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    width:40%;
    height:30px;
    background-color:white; 
    color:green; 
    border-radius:8px;
    margin:20px 0 20px 150px;
   }

   #menu span:hover {
    background-color: rgb(198, 250, 149);
    color: whitesmoke;
}


   .UnitInfoOpen td{
    text-align: left;
   }

   .divOverdue{
    width:70px;
    height:70px;
    margin:9px 5px;
    border: 2px solid black;
    background-color: green;
    color:white;
    border-radius: 8px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:16px;
    font-weight: bold;
    }

    .divOverdueChecked{
      width:70px;
      height:70px;
      margin:9px 5px;
      border:2px solid red;
      background-color: red;
      color:white;
      border-radius: 8px;
      display:flex;
      justify-content: center;
      align-items: center;
      padding:16px;
      font-weight: bold;
      }

      .LiSearch{
        display:flex;
        flex-direction:row;
        text-align: left;
        display: table;
        vertical-align: middle;
        margin:0 auto;
        list-style-type: none;
      }

      .ULSearchVisible{
        display:block;
      }

      .ULSearchHidden{
        display:none;
      }

      .notoverdue{
        background-color: white;
        color:black;
      }
      .overdue{
        background-color: red;
        color:white;
      }
   

      .Bydate-item{
        width:100%;
        height:100%;
        display:none;
        flex-direction:row;
        text-align: center;
        vertical-align: middle;
        margin:0 auto;
        list-style-type: none;
      }

      
.Bydate-container{
  background-color: #97D09D; 
  border:3px solid green;
  color: black;
  font-size:1em;
  font-family:Arial, sans-serif;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:120px; 
  height:40px;
  border-radius: 30px;
  box-shadow: 4px 4px black;
  margin:23px 0 0 20px;
}

    #search-input{
      width:130px;
    }
    .search {
      margin-top:20px;
      }
      
   .Toolbar{
    background-color: white;
    color:green;
    height:300px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
    flex-direction:row;
    gap:40px;
    width:100%;
    height:fit-content;
    margin-top:0px;
   } 

    .DatatableUnitInfoCloseButton{
      background-color: white;
      color:green;
      font-weight: bold;
      border-radius: 8px;
      padding:4px;
    }

/* .ftype and .selectWrapper FOR webTasks.php select box*/
.ftype{
background-color: #32a852;
color:white;
  width:120px;
  height:30px;
  border:0px;
  outline:none;
}

.filter{
  text-align:center;
  width:200px;
  background-color:orange; 
}